.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.number {
    display: flex;
}
.number-container {
    display: grid;
    grid-template-rows: auto auto;
}